{% extends 'my_layout.html' %}

{% block title %} Registration {% endblock %}

{% load static %}
{% block icon %} <link rel="icon"  href="{% static 'main/img/icon-user.png' %}"> {% endblock %}
{% block signup %} <font size="6.25px" color="#eb5959"><i class="far fa-user"></i> Sign up</font> {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="features">
		<h1> Registration </h1>

		<form method="POST" class="form-group">
			{% csrf_token %}
			
			{{ form|crispy }}

			<button type="submit" class="btn btn-success"> Sign up </button>
		</form>
	</div>
{% endblock %}