body {
	background: #2c2c2c;
}

aside {
	float: left;
	position: fixed;
	background: #181818;
	width: 20%;
	padding: 2.5% 2% 2% 2%;
	height: 100vh;
	color: #fff;
	border-right: 5px solid #4d4d4d;
}

aside img {
	margin-left: -20px;
	width: 70px;
	float: left;
	margin-right: 11px;
}

aside .logo {
	margin-left: 4px;
	font-size: 33px;
	margin-left: 10px;
	font-weight: bold;
	position: relative;
	top: -5px;
}
aside .logo span {
	font-size: 30px;
	color: #181818;
	background-color: #cdcdcd;
	border-radius: 15px;
	margin: 2px;
	padding: 4px;
}

aside h3 {
	margin-top: 50px;
	font-size: 30px;
}

aside ul {
	list-style: none;
}

aside ul li{
	color: #fff;
	display: block;
	margin-top: 20px;
	font-size: 22.5px;
	transition: transform .4s ease;
}

aside ul li:hover, aside ul a:hover {
	color: #eb5959;
	text-decoration: none;
	transform: scale(1.05);
}

main {
	margin-left: 25%;
}

main .features {
	margin-left: 10%;
	float: left;
	color: #fff;
	margin-top: 100px;
	text-align: center;
	width: 75%;
}

main .features h1 {
	font-size: 50px;
}

main .features p {
	max-width: 400px;
	margin: 20px auto;
}

button a {
	color: black;
}

button a:hover {
	color: black;
	transition: none;
	text-decoration: none;
}

main .contacts {
	float: left;
	color: #fff;
	margin-top: 100px;
	text-align: center;
	width: 75%;
}

main .contacts h1 {
	font-size: 50px;
}

main .contacts ul {margin-top: 30px;}

main .contacts ul li {
	margin-left: -5%;
	margin-top: 15px;
	font-size: 17px;
}

main .contacts ul li span {
	font-weight: bold;
	margin-left: 5px;
	font-size: 20px;
}

a .article-style {
	text-decoration: none;
	color: black;
	transition: transform .3s ease;
}

a .article-style:hover {
	transform: scale(1.1);
	text-decoration-line: none;
}

.article-style {
	/*flex: 0 0 50%;*/
	float: left;
	clear: both;
	width: 400px;
	margin: 20px 34%;
	text-align: left;
	background-color: #f2927e;
	border-radius: 20px 0px 20px 0px;
}

.inner-article-style {
	margin: 10px;
}

a:hover{text-decoration: none;}

/*.latest_news-flex {
	display: flex;
	flex-wrap: wrap;
}*/

form {
	margin-left: 25%;
	margin-top: 30px;
	width: 500px;
}